/*Overall Font and color setup*/
* { 
    font-family: "chakra_petchlight"; 
    color: rgb(255, 255, 255); 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/*Header Styling*/
header {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

h1 {
    letter-spacing: 60px; 
    font-size: 100px; 
    padding: 30px;
    margin-top: 30px;
}

/*Body background setup*/
body {
    background-image: url('images/blackHeaderSlow2.gif'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    min-height: 100vh;
}
/*Specific styles for sections*/

section {
    padding-left: 40px; 
    margin: 20px; 
}

/* Specific styles for section titles (h3) */
section h3 {
    margin-bottom: 20px;
    font-size: 50px;
}

/* Specific styles for paragraph (p) text in sections */
section p {
    text-align: center;
    font-size: 25px;
    margin: 10px;
}

/* Specific styles for lists in services */
section ul {
    list-style-type: none;
    padding-left: 0; 
    text-align: center; 
    font-size: 35px;
}

/*Navigation link styling*/
.nav-link { 
    font-size: 30px;
}

nav {
    text-align: center; 
    word-spacing: 20px; 
    padding: 50px;
    margin-bottom: 30px;
}

/*Styling for H2 headings*/
h2 {
    padding: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    word-spacing: 30px; 
    font-style: oblique;
    text-align: center;
}

/*Styling for H3 headings*/
h3 {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 30px;
    margin: 20px;
    padding: 30px;
}

/*Styling for H4 headings (for projects)*/
h4 {
    font-size: 35px; 
    text-align: center;
}

/*About Specific styling*/

.about {
    text-align: left;


}

/*Services Specific styling*/

.services {
    text-align: left;

    
}

/*Projects Specific styling*/

.projects {
    text-align: left;


}


/*get in touch specific styling*/
.get-in-touch {
    text-align: left;
}

/*Start of Filter Styling*/

.filter-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    max-width: 200px;
    margin: 0 auto 20px auto; 
}
.filter-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

#filter-dropdown {
    padding: 5px;
    font-size: 25px;
    background-color: transparent;
    border: 1px solid #cccccc00;
    border-radius: 4px;
    color: #ffffff;
}

#filter-dropdown option {
    background-color: white; 
    color: #000000; 
}

#selected-filter {
    margin-right: 10px;
    font-size: 16px;
}
/* Social Media Icon Styling */
.personal-links {
    text-align: center; 
    margin-top: 20px; 
}

.personal-links a {
    margin: 10px; 
}

.personal-links img.icon {
    width: 40px; 
    height: auto; 
}

/*End of Filter Styling*/

/*Start of FORM styling*/

form {
    max-width: 400px; 
    margin: 0 auto; 
    padding: 20px; 
    text-align: center; 

}

input[type="text"], input[type="email"], textarea, select {
    width: 100%; 
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    font-size: 16px;
    color: black;
    background-color: white; 
}

textarea {
    color: black;
    background-color: white; 
}

label {
    padding: 5px; 
}

button {
    display: block;
    margin: 20px auto; 
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

/*End of FORM styling*/

/*Footer Styling*/


footer {

    text-align: center;
}

/* Smooth scrolling for the page */

html {
    scroll-behavior: smooth;
}

